@page "/"
@page "/servers"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer // this brings the entire (routable) component under the control of the server interactively.

<h3>Servers</h3>
<br />
<br />
<CityListComponent 
    @rendermode="InteractiveServer"
    SelectCityCallback="HandleCitySelection"
/>

<SearchServerComponent 
    @rendermode="InteractiveServer"
    OnSearchPerformedCallback="HandleSearch"
    />

<ServerListComponent 
    @rendermode="InteractiveServer" 
    CityName="@_selectedCity"
    SearchString="@_searchString"
    />


@code {
    private string _selectedCity = "Toronto";

    private string _searchString = "";

    private void HandleCitySelection(string selectedCity)
    {
        _searchString = "";
        _selectedCity = selectedCity;
    }

    private void HandleSearch(string searchString)
    {
        _searchString = searchString;
    }
}
