@page "/counter"
@using WebAssemblyDemo.Client.Controls

<PageTitle>banaan</PageTitle>

<h3>Counter</h3>

<CounterComponent @rendermode="InteractiveWebAssembly"></CounterComponent>

@* <CounterComponent @rendermode="InteractiveServer"></CounterComponent> *@

@code {

}
