@namespace ServerManagement.Components.Controls

@if (cities != null && cities.Count > 0)
{
    <div class="container-fluid shadow w-50 m-1 rounded">
        <div class="row w-100 m-1">
            @foreach (string city in cities)
            {
                <CityComponent 
                    City="@city"
                    SelectedCityName="@_selectedCity"
                    SelectCityCallback="HandleCitySelection"
                >
                </CityComponent>
            }
        </div>
    </div>
}

@code {

    [Parameter]
    public EventCallback<string> SelectCityCallback { get; set; }

    private List<string> cities = CitiesRepository.GetCities();

    private string _selectedCity = "Toronto";

    [Parameter]
    public string SelectedCity { get => _selectedCity; set { _selectedCity = value; } }

    private void HandleCitySelection(string selectedCity)
    {
        _selectedCity = selectedCity;
        SelectCityCallback.InvokeAsync(selectedCity);
    }

    public void ClearCitySelection()
    {
        _selectedCity = string.Empty;
    }
}
